# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

# azure-functions
# pyodbc~=4.0.32
pymssql>=2.2.5
scikit-learn~=1.0.1
keras~=2.8.0
DateTime~=4.3
tensorflow~=2.8.0
numpy~=1.21.4